<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default "en" }}">
	<head>
                {{ with .Title }}
		        <title>{{ . }} | murray.systems</title>
                {{ else }}
                        <title>murray.systems</title>
                {{ end }}
                
                {{ partial "layout/head/metadata.html" }}

		{{ $stylesheet := resources.Get "css/main.scss" | toCSS | minify | fingerprint }}
		<link rel="stylesheet" href="{{ $stylesheet.Permalink | relURL }}" integrity="{{ $stylesheet.Data.Integrity }}">
	</head>
	<body>
		{{ partial "layout/header/header.html" . }}

                <main id="main">
        		{{ block "main" . }}
	        	{{ end }}
                </main>

		{{ partial "layout/footer/footer.html" . }}
	</body>
</html>
