{{ define "main" }}

<article>
        {{ if .Title }}
                <header>
                        <div class="container">
                                <h1>{{ .Title }}</h1>
                        <div>
                </header>

                {{ if .Content }}
                        <section>
                                <div class="container">
                                        {{ if .Content }}
                                                {{ .Content }}
                                        {{ end }}
                                </div>
                        </section>
                {{ end }}
        {{ end }}

        <div class="container">
                <h2>Posts</h2>
                {{ range .Site.RegularPages }}
                        <p>
                                {{ .Date.Format "2006-01-02" }}<br>
                                <a href="{{ .Permalink }}">{{ .Title }}</a>
                        </p>
                {{ end }}
        </div>
</div>

{{ end }}
