{{ define "main" }}


<article>
        <header>
                <div class="container">
                        <h1>{{ .Title }}</h1>
                        <!-- TODO: Subtitle -->

                        {{ if not .Date.IsZero }}
                                Published: {{ .Date.Format "2006-01-02" }}
                        {{ end }}
                </div>
        </header>

        <section>
                <div class="container">
                        {{ if (and (isset .Params "toc") (.Params.toc)) }}
                                <aside>
                                        <h2>Contents</h2>
                                        {{ .TableOfContents }}
                                </aside>
                        {{ end }}

	                {{ .Content }}
                </div>
        </section>
</article>


{{ end }}
