{{ define "main" }}


<article id="article">
        <header>
                <div class="container">
                        <h1>{{ .Title }}</h1>
                        <!-- TODO: Subtitle -->
                </div>
        </header>

        <section>
                <div class="container">
                        {{ if not .Date.IsZero }}
                                <p>
                                        <em>Published: {{ .Date.Format "2006-01-02" }}</em>
                                </p>
                        {{ end }}

                        {{ if (and (isset .Params "toc") (.Params.toc)) }}
                                <hr>
                                <aside>
                                        <h3>Contents</h3>
                                        {{ .TableOfContents }}
                                </aside>
                                <hr>
                        {{ end }}

	                {{ .Content }}
                </div>
        </section>
</article>


{{ end }}
