pre,
code {
        background: rgba(0, 0, 0, 0.1);
}


pre {
        padding: 2em;
        overflow-x: auto;

        & > code {
                background: transparent;
        }
}


code {
        padding: 0.1em;
}
