@import "variables";


ul.pagination {
        display: flex;
        flex-direction: row;
        justify-content: center;

        li.page-item {
                color: $header_background;

                list-style: none;

                padding: 1em;

                &.active {
                        color: $header_foreground;
                        background: $header_background;
                }
                
                &.disabled {
                }

                .page-link {
                        text-decoration: none;
                        color: inherit;
                }
        }

}
